{% extends 'base.html.twig' %}

{% block title %}Tarifs FFT Edition{% endblock %}

{% block body %}
    <a href="{{ path('app_rate_fft_index') }}" class="btn btn-primary float-end m-2">Retour</a>
    <h1 class="mb-4">Modifier le tarif</h1>

    {{ include('rate_fft/_form.html.twig', {'button_label': 'Modifier'}) }}


    {{ include('rate_fft/_delete_form.html.twig') }}
{% endblock %}
