{% extends 'base.html.twig' %}

{% block title %}Tarif FFT Création{% endblock %}

{% block body %}
    <h1>Ajouter un tarif FFT</h1>

    {{ include('rate_fft/_form.html.twig') }}

    <a href="{{ path('app_rate_fft_index') }}"class="btn btn-primary m-2">Retour</a>
{% endblock %}
