<form method="post" action="{{ path('app_member_delete', {'id': member.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ce membre?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ member.id) }}">
    <button class="btn btn-sm btn-danger">
        <i class="fa fa-trash-o"></i>
    </button>
</form>
