{% extends 'base.html.twig' %}

{% block title %}Membres FFTA{% endblock %}

{% block body %}
    <h1>Membres FFTA</h1>
    <a href="{{ path('app_member_new') }}"class="btn btn-primary float-md-end mb-2">Ajouter un membre</a>
    {{ include ('_flash_messages.html.twig') }}
    {{ include ('member/_list.html.twig') }}
    

    
{% endblock %}
