{% extends 'base.html.twig' %}

{% block title %}Membre Création{% endblock %}

{% block body %}
    <a href="{{ path('app_member_index') }}" class="btn btn-primary float-md-end mb-2">Retour</a>
    <h1 class="mb-5">Créer un Membre</h1>
    <div class="col-md-10 mx-auto">
        {{ include('member/_form.html.twig') }}
    </div>
    
{% endblock %}
