{% extends 'base.html.twig' %}

{% block title %}Tarif FFTA Création{% endblock %}

{% block body %}
    <a href="{{ path('app_rate_ffta_index') }}" class="btn btn-primary float-end m-2">Retour</a>
    <h1 class="mb-5">Ajouter un tarif FFTA</h1>
    <div class="col-md-10 mx-auto">
        {{ include('rate_ffta/_form.html.twig') }}
    </div>
    
{% endblock %}
