{% extends 'base.html.twig' %}

{% block title %}Tarif FFTA Création{% endblock %}

{% block body %}
    <h1>Ajouter un tarif FFTA</h1>

    {{ include('rate_ffta/_form.html.twig') }}

    <a href="{{ path('app_rate_ffta_index') }}"class="btn btn-primary m-2">Retour</a>
{% endblock %}
